/* Primary color #757575 */
/* Secondary color #212121 */
/* Active color #2196f3 */
/* Primary background color #E5E5E5 */
/* Secondary background color #F5F4FA */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --active-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --color-white: #ffffff;
  --color-secondary-grey: rgba(255, 255, 255, 0.6);
  --background-button-tab: #f5f4fa;
  --background-dark: #2f303a;
  --border-light-color: #eeeeee;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--color-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
.container {
  width: 1200px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid var(--border-light-color);
}

.logo {
  width: 145px;
  height: 31px;
  margin-top: 25px;
  margin-bottom: 24px;
  cursor: pointer;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .item {
  margin-right: 50px;
}

.main-nav .item:first-child {
  margin-left: 93px;
}

.main-nav .item:last-child {
  margin-right: 0px;
}

.main-nav .link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .link.current:hover::after {
  transform: scaleX(0.5);
}

.main-nav .link:hover,
.main-nav .link:focus,
.main-nav .link:active {
  color: var(--active-color);
}

.main-nav .link.current {
  color: var(--active-color);
}

.main-nav .nav-contacts {
  display: flex;
}

.nav-contacts {
  margin-left: 305px;
}

.mail-item {
  margin-right: 30px;
}

.nav-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  margin-left: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus,
.main-nav .link:active {
  color: var(--active-color);
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

h2,
h3 {
  color: var(--secondary-text-color);
}

.hero {
  background-color: var(--background-dark);
  color: var(--color-white);
  max-width: 1600px;
  height: 600px;
  text-align: center;
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  display: block;
  font-weight: 900;
  width: 696px;
  height: 120px;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: 452px;
}

.hero-button {
  color: var(--color-white);
  background-color: var(--active-color);
  display: inline-block;
  align-items: center;
  margin-left: 700px;
  margin-right: 700px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.section-list .item:not(:last-child) {
  margin-right: 30px;
  max-width: 266px;
}

.section-list .item::before {
  display: block;
  background-color: var(--secondary-background-color);
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-list .item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.section-list .item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.section-list .item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.section-list .item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.section-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.section-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  box-sizing: border-box;
  padding: 0px;
}

.about-us,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.block {
  margin-bottom: 94px;
}

.thumb {
  position: relative;
}

.link-image {
  display: block;
  height: auto;
}

.thumb > .label {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* block team  */

.our-team {
  padding-top: 94px;
  background-color: var(--secondary-background-color);
  min-width: 1600px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.team-members-card {
  width: 270px;
  height: 428px;
  border: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--color-white);
  cursor: pointer;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.9;
}

.social-accounts {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 30px;
  width: 206px;
  height: 44px;
}

.social-item {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-accounts .links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
}

.social-accounts .links:hover,
.social-accounts .links:focus {
  background-color: var(--active-color);
  border-radius: 50%;
  color: var(--color-white);
}

.links .icon {
  display: block;
  flex-direction: row;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.clients-links {
  display: flex;
  justify-content: space-between;
}

.clients-links .link {
  display: flex;
  height: 90px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.clients-links .link:hover,
.clients-links .link:focus {
  color: var(--active-color);
}

.clients-icon {
  display: block;
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--background-dark);
  min-width: 1600px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.align {
  display: flex;
  align-items: baseline;
}

.contacts {
  width: 231px;
  margin-right: 70px;
}

.accent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-top: 20px;
}

.link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-in-contacts {
  display: inline-flex;
  margin-top: 12px;
  width: 206px;
  height: 80px;
}
.join-in-title h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  height: 16px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}
.social-media .item {
  display: block;
  flex-direction: row;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.social-media .item:last-child {
  margin-right: 0px;
}

.social-media .item:nth-child(1) {
  background-image: url(../images/instagram-1.svg);
}

.social-media .item:nth-child(2) {
  background-image: url(../images/twitter-1.svg);
}

.social-media .item:nth-child(3) {
  background-image: url(../images/facebook-1.svg);
}

.social-media .item:nth-child(4) {
  background-image: url(../images/linkedin-1.svg);
}

.social-media .item:hover {
  background-color: var(--active-color);
}

/* portfolio style */

.portfolio {
  margin-bottom: 94px;
  margin-top: 94px;
}

.buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-products .but-item {
  margin-bottom: 50px;
  margin-left: 8px;
  padding: 6px 22px;
  font-family: inherit;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--background-button-tab);
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list .but-item:hover,
.buttons-list .but-item:focus {
  background-color: var(--active-color);
  color: var(--color-white);
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products .products-cards {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background: var(--color-white);
  border: 1px solid var(--border-light-color);
  box-sizing: border-box;
}

.products .products-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-left: 1px solid var(--border-light-color);
  border-right: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-light-color);
}

.products .products-cards:nth-child(3n) {
  margin-right: 0px;
}

.products .products-cards:nth-last-child(-n + 3) .products h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.products .products-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}

.products .product-title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
}

.products .text {
  padding: 20px 24px;
}

.link-image {
  display: block;
  height: auto;
}
.overlay-products {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card {
  display: block;
}

.link-card:hover .description,
.link-card:focus .description {
  opacity: 1;
  transform: translateY(0);
}
